# Banco de dados MySQL
DATABASE_URL="mysql://root:2020@localhost:3306/gestao_hospitalar"

# JWT (trocar em produção)
JWT_SECRET=teste
JWT_EXPIRACAO=7d

# Servidor
NODE_ENV=development
PORTA=3000

CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.0.1:5173,http://127.0.0.1:5174,http://localhost:8081
